.final-image {
    position: relative;
    background: url("Footer.png?v=5") no-repeat center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1440 / 260;
    height: auto;
    overflow: hidden;
}