.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.main-image {
    position: relative;
    background: url("PageBanner.png?v=4") no-repeat center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1440 / 580;
    height: auto;
    overflow: hidden;
}

.final-image {
    position: relative;
    background: url(Footer.png) no-repeat center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1440 / 640;
    height: auto;
    overflow: hidden;
}