.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.main-image {
    position: relative;
    background: url(PageBanner.png) no-repeat center;
    background-size: cover;
    height: 640px;
    overflow: hidden;
}

.final-image {
    position: relative;
    background: url(Footer.png) no-repeat center;
    background-size: cover;
    height: 640px;
    overflow: hidden;
}